version: '3'
services:
  web:
    build: .
    volumes:
      - .:/var/www/html
    ports:
      - 8080:8080
    environment:
      - APP_ENV=development
    restart: unless-stopped
  db:
    ports:
      - 3306:3306
    image: mariadb:10.2
    environment:
      - MYSQL_DATABASE=blog
      - MYSQL_USER=blog
      - MYSQL_PASSWORD=pass
      - MYSQL_ROOT_PASSWORD=root
    restart: unless-stopped
