body {
    padding: 1em;
    background-color: darkolivegreen;
    color: cornsilk;
    font-family: sans-serif;
}

button {
    background-color: saddlebrown;
    color: white;
    border-style: none;
    border-radius: .5em;
    padding: .5em;
}

form {
    background-color: olivedrab;
    border: 1px dashed olive;
    display: inline-block;
    padding: 1em;
    border-radius: 1em;

    label {
        margin: 1em 0;
        display: block;
    }

    input, textarea, select, button {
        font-size: 1em;
        font-family: inherit;
    }
}

article {
    margin: 0 1em 1em 0;
    background-color: darkseagreen;
    color: darkred;
    display: inline-block;
    padding: 1em;
    border-radius: 1em;

    .timestamp { font-size: 80%; }
}
